<div>
  <h5>Search for a product in your shop</h5>
  <!--<p>Add unit quantities to your products in seconds</p>-->
  <div class="row">
    <div class="col-md-10">
      <input type="num" class="form-control" id="search-query" autofocus placeholder="Search your products by Title or ID, ie '3890101740'">
    </div>
    <div class="col-md-2">
      <a href="#" id="submit-search" class="btn btn-success">Search</a>
    </div>
  </div>
</div>
