<div>
  <br>
  <p>
    <h3>Thanks for your business!</h3><br>
    <p>If you need technical assistance or have product feedback, please  <a href="mailto:info@appsbysimple.com?subject=Need help with Unit Pricer" target="_blank"><b>email us</b></a>.</p><br>
    <%= link_to "Get Started", dashboard_path, class: "btn btn-success" %>
  </p>
</div>